*{
    box-sizing: border-box;
}

div.wrapper{
    max-width: 600px;
    margin: auto;
}

/* Selection */
/* column with float */
div.container_selections::after{
    clear: both;
    display: block;
    content: "";
} /* stop float after this div*/

div.selection{
    background-color: #f2f2f2;
    color: darkgray;

    margin: 1%;
    padding: 1%;
    width: 31.33%;
    height: 140px;

    text-align: center;
    font-size:x-small;

    float: left;
}
/* Clipping using max-height and overflow */
div.container_selections{
    max-height: 150px;
    overflow: hidden;
}


/* column with float*/
div.container_columns::after{
    display: block;
    content: "";
    clear: both;
}

div.column{
    float: left;
    width: 46%; 
    margin: 2%;
    padding: 1%;
    background-color: #f2f2f2;
}

div.column img{
    width: 100%;
}

/* Content */
/* webkit text columns */
div.content{
    padding: 3%;
}

div.content p{
    -webkit-column-count: 3;
    column-count: 3; 
    -webkit-column-gap: 20px; 
    column-gap: 20px;
    -webkit-column-rule: solid 1px #ccc;
    column-rule: solid 1px #ccc;
}

/*Selection */
/* relative positioning */
div.selection:nth-child(1){
    position: relative;
    top: 5px;
}

div.selection:nth-child(2){
    position: relative;
    top: 10px;
}

div.selection:nth-child(3){
    position: relative;
    top: 15px;
}


/* Banner and text */
/* absolute positioning */
.banner{
    max-height: 300px;
    overflow: hidden;
    position: relative;
    margin: 1%;
}

.banner h2{
    position: absolute;
    top: 20%;

    color: #f2f2f2;

    width: 100%;
    text-align: center;
}

/* Nav bar */
nav::after{
    display: block;
    content: "";
    clear: both;
}

nav{
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    z-index: 2;
}

ul{
    padding: 1%;
}

ul li{
    list-style-type: none;
    color: #fff;

    margin: 1%;
    
    float: right;
}